! -----------------------------------------------------------------------------
! Google Dark theme
! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc342b
*.color9:       #cc342b

! green
*.color2:       #198844
*.color10:      #198844

! yellow
*.color3:       #fba922
*.color11:      #fba922

! blue
*.color4:       #3971ed
*.color12:      #3971ed

! magenta
*.color5:       #a36ac7
*.color13:      #a36ac7

! cyan
*.color6:       #3971ed
*.color14:      #3971ed

! white
*.color7:       #c5c8c6
*.color15:      #ffffff


! -----------------------------------------------------------------------------
! st settings
! Transparency (0-1):
st.alpha:       0.9

! Set a default font and font size as below:
st.font:        SauceCodePro Nerd Font-10
!st.font:        Monospace-10
st.termname:    st-256color
st.borderpx:    2


! -----------------------------------------------------------------------------
! xterm settings
xterm*faceName: SauceCodePro Nerd Font
xterm*faceSize: 11


! -----------------------------------------------------------------------------
! URxvt settings
URxvt.background:           [90]#1d1f21
URxvt.intensityStyles:      false
URxvt.scrollBar:            false
URxvt.scrollBar_right:		true
URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.fading:               30
URxvt.loginShell:           true
URxvt.saveLines:            1000
URxvt.internalBorder:       3
URxvt.lineSpace:            0

URxvt.font:                 xft:SauceCodePro Nerd Font:size=10
URxvt.letterSpace:          -1

URxvt.perl-ext-common:      default,matcher,keyboard-select
