// Eww colors for Emilia rice
// $bg: #1a1b26;
$bg-alt: #222330;
// $fg: #c0caf5;
$black: #414868;
$lightblack: #262831;

// $red: #f7768e;
// $blue: #7aa2f7;
// $cyan: #7dcfff;
// $magenta: #bb9af7;
// $green: #9ece6a;
// $yellow: #e0af68;
// $archicon: #0f94d2;



$bg:        #24273A;
$fg:        #cad3f5;
$blue:      #8aadf4;
$lavender:  #b7bdf8;
$sapphire:  #7dc4e4;
$sky:       #91d7e3;
$teal:      #8bd5ca;
$green:     #a6da95;
$yellow:    #eed49f;
$peach:     #f5a97f;
$maroon:    #ee99a0;
$red:       #ed8796;
$mauve:     #c6a0f6;
$pink:      #f5bde6;
$flamingo:  #f0c6c6;
$rosewater: #f4dbd6;
