* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(36, 39, 58, 0.9);
}

button {
  /* border-radius: 0; */
  /* border-color: #b7bdf8; */
  text-decoration-color: #cad3f5;
  font-size: 20pt;
  color: #cad3f5;
  background-color: #1e2030;
  /* border-style: solid; */
  /* border-width: 1px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;

  border: none;
  border-width: 0px;
  border-radius: 50px;
  margin: 50px;
}

button:focus,
button:active,
button:hover {
  /* 20% Overlay 2, 80% mantle */
  background-color: rgb(53, 57, 75);
  outline-style: none;
  /* margin: 0; */
  margin: 0px 50px;
}

#lock {
  background-image: url("/home/knmac/.config/wlogout/icons/lock.svg");
}

#logout {
  background-image: url("/home/knmac/.config/wlogout/icons/logout.svg");
}

#suspend {
  background-image: url("/home/knmac/.config/wlogout/icons/suspend.svg");
}

#hibernate {
  background-image: url("/home/knmac/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
  background-image: url("/home/knmac/.config/wlogout/icons/shutdown.svg");
}

#reboot {
  background-image: url("/home/knmac/.config/wlogout/icons/reboot.svg");
}
