// vim: ft=css
configuration {
    terminal:           "kitty";
    theme:              "~/.config/rofi/main_theme.rasi";
    modi:               "drun#run#window#ssh#keys";
    /*no-lazy-grab:       true;*/
    /*disable-history:    true;*/
}
